html{
    font-family: "Lato", sans-serif;
}

/* DEFAULT */

*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

a{
    text-decoration: none;
    color: white;
    margin-right: 4px;
}

img{
    width: 100%;
}

/* DEBUG */

/* .debug{
    border: 1px;
    border-style: dashed;
    padding: 20px;
} */

/* HEADER */

.nav-header{
    background-color: #FF6900;
    min-height: 38px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 12px;
    max-width: 750px;
    padding: 8px;
}

.logo{
    background-size: cover;
    width: 74px;
    height: 20px;
}

.nav-category{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 20px;
}

.nav-icon{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 20px;
}

.icon{
    width: 20px;
    height: 20px;
    color: white;
}

/* MAIN */

.container-prd{
    min-height: 835px;
    width: auto;
}

.row-prd{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 736px;
    min-height: 770px;
    padding: 20px;
}

.col-1_3{
    width: calc(100% / 3);
    font-size: 10px;
    padding: 6px;
    margin-bottom: 12px;
    position: relative;
}

.container-heart{
    position: relative;
}

.heart{
    position: absolute;
    background-color: white;
    background-position: center;
    width: 28px;
    height: 28px;
    padding: 5px;
    top: 5px;
    right: 0;
}

.container-info-prd{
    position: relative; 
}

.info-patch-euro{
    position: absolute;
    background-color: red;
    color: white;
    padding: 3px 6px;
    font-size: 8px;
    bottom: 23px;
    left: 0;
}

.info-patch-eco{
    position: absolute;
    background-color: green;
    color: white;
    padding: 3px 6px;
    font-size: 8px;
    bottom: 23px;
    left: 34px;
}

.info-patch-eco.col6{
    left: 0;
}

.prd-bold{
    font-weight: 900;
}

.price{
    color: red;
    font-weight: 700;
}

.price-old{
    text-decoration: line-through;
}

.img-col-1:image-hover{
    
}

/* FOOTER */
.social-ft{
    min-height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1A1A1A;
    color: white;
    padding: 20px;
}

.info-footer{
    font-size: 12px;
}