html{
    font-family: "Lato", sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.debug{
    border: 1px;
    border-style: dashed;
    padding: 20px;
}

.navbar{
    min-height: 38px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-prd{
    min-height: 835px;
    width: auto;
}

.row-prd{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}