html{
    font-family: "Lato", sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

.debug{
    border: 1px;
    border-style: dashed;
    padding: 20px;
}

.navbar{
    min-height: 38px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FF6900;
    color: white;
}

.container-prd{
    min-height: 835px;
    width: auto;
}

.row-prd{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 736px;
    min-height: 770px;
    padding: 20px;
}

.col-1_3{
    width: calc(100% / 3);
    font-size: 10px;
    padding: 6px;
    margin-bottom: 12px;
}

